body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body > #root > div {
  height: 100vh;
}

#header-first {
  text-decoration-style: dotted;
}

#popover-trigger-network-name {
  white-space: nowrap;
  overflow-x: hidden;
  max-width: 200px;
  text-overflow: ellipsis;
}

.delivering {
  color: var(--chakra-colors-red-500);
  font-weight: bold;
}

.link-line {
  overflow-x: hidden;
  padding: 4px;
  gap: 4px;
}

.link-info {
  flex: 1;
  width: 50%;
  display: inline-block;
  border-radius: 6px;
  border-width: 1px;
  border-color: var(--chakra-colors-gray-400);
}

.link-info .link-header {
  vertical-align: middle;
}

.link-header .network-name {
  cursor: pointer;
}

.link-description {
  flex-flow: row wrap;
  padding: 2px;
}

.link-description > div {
  white-space: nowrap;
  overflow-x: hidden;
  width: 50%;
}

table.fee-table tr > :nth-child(2), table.fee-table tr > :nth-child(3) {
  text-align: right;
}

table.fee-table tr > td {
  white-space: nowrap;
  background-color: white;
  overflow-x: hidden;
}

table.fee-table tr > td > .value > span:nth-child(2) > span:nth-child(-n+3) {
  margin-right: 0.15em;
}

table.fee-table tr > td > .value > span:nth-child(2) > span:nth-child(n+4) {
  color: var(--chakra-colors-gray-400);
  font-size: 7px;
}

table.fee-table tr > td > .symbol {
  font-size: 8px;
  font-weight: bold;
  color: var(--chakra-colors-gray-600);
  border-radius: 3px;
  border: 1px solid;
  padding: 2px;
}

.event-viewer >  .loading-icon {
  position: absolute;
  z-index: 100;
}

table.event-log tr > td {
  white-space: nowrap;
  overflow-x: hidden;
}

table.event-log tr > th {
  white-space: nowrap;
}

.event-log .filter-selector {
  cursor: pointer;
  flex-wrap: nowrap;
}

table.event-log tr > :nth-child(1), table.event-log tr > :nth-child(3) {
  text-align: center;
}

table.event-log tr > :last-child {
  width: 100%;
}

.event-log .hide-log > .row-log {
  display: none;
  visibility: hidden;
}

.event-log .hide-tx > .row-tx {
  display: none;
  visibility: hidden;
}

.event-log .hide-tx > .row-rx {
  display: none;
  visibility: hidden;
}

.event-log .hide-state > .row-state {
  display: none;
  visibility: hidden;
}

.event-log .top-line {
  font-size: 7px;
  cursor: pointer;
}