body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body > #root > div {
  height: 100vh;
}

#header-first {
  text-decoration-style: dotted;
}

#popover-trigger-network-name {
  white-space: nowrap;
  overflow-x: hidden;
  max-width: 200px;
  text-overflow: ellipsis;
}

.delivering {
  color: red;
}

.link-line {
  overflow-x: hidden;
  padding: 4px;
  gap: 4px;
}

.link-info {
  flex: 1;
  width: 50%;
  display: inline-block;
  border-radius: 6px;
  border-width: 1px;
}

.link-description {
  flex-flow: row wrap;
  padding: 2px;
}

.link-description > div {
  white-space: nowrap;
  overflow-x: hidden;
  width: 50%;
}

table.event-log tr > td {
  white-space: nowrap;
  overflow-x: hidden;
}

table.event-log tr > :nth-child(1), table.event-log tr > :nth-child(3) {
  text-align: center;
}

.event-log .hide-log > .row-log {
  display: none;
  visibility: hidden;
}

.event-log .hide-tx > .row-tx {
  display: none;
  visibility: hidden;
}

.event-log .hide-tx > .row-rx {
  display: none;
  visibility: hidden;
}

.event-log .hide-state > .row-state {
  display: none;
  visibility: hidden;
}